# dependencies
/node_modules
/.pnp
.pnp.js
/dist

# testing
/coverage

# next.js
/.next/
/out/ # For static exports

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env*.local
.env
.next/cache
.next/standalone
.next/trace
.next/static/chunks
.next/static/css

# vercel
.vercel

# editor directories and files
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/
*.iml
*.iws
*.ipr